<div class="col_2">

  <h4>Upload Profile Picture</h4>

  <div class="placeholderPic"></div>

  <a href="" class="secondaryButton uploadButton">Choose photo from a url</a>
  <a href="" class="secondaryButton uploadButton">Choose photo from your computer</a>

</div><!-- end 2 column upload profile pic -->
